<div class="col-md-3">
    <p class="lead"><%= @categories.model_name.human(count: 2) %></p>
    <div class="list-group">
        <% @categories.each do |category| %>
            <a href="#" class="list-group-item"><%= category.description %></a>
        <% end %>
    </div>
</div>
